@charset "utf-8";
/* CSS Document */
h1{
	text-align: center;
	font-size:60px;
}
h2{
	font-size: 40px;
}
.Info{
	padding-right: 1000000;
	background-color: #00BBFF;
}
.Information{
	font-size: 30px;
}
.logo{
	display: block;
	margin-right: auto;
	width: 50%;
}
.secondPart{
	background-color: aqua;
}
.food{
	display: block;
	margin-top: 500;
	width: 400px;
}